<div class="page background-dark " layout ='column' layout-align="center center">

  <md-card  class="card-middle">
    <md-card-content >
      <p class="message">
        {{message}}
      </p>
      <h2 class="md-title">User Login</h2>
      <form name        = "userLoginForm">
        <md-input-container>
          <label>Username</label>
          <input ng-required='true' ng-model="username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-required='true' type="password" ng-model="password">
        </md-input-container>
        <p ng-repeat  = "err in errors">
          <small class='error'>{{err}}</small>
        </p>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button cclass="md-raised md-primary"  ng-click="login()" ng-disabled="!userLoginForm.$valid">Login</md-button>
          
        </div>
      </form>

      <a ui-sref = "signup" href="">Sign Up now!</a>
    </md-card-content>
  </md-card>
</div>
