<div class="page background-dark " layout ='column' layout-align="center center">
  <md-card  class="card-middle">
    <md-card-content >
      <form name="signupForm" class="mdl-card">
        <h2 class="md-title"> {{labels.title}} </h2>
        <div class="mdl-card__supporting-text">
          <md-input-container>
            <label>Username</label>
            <input ng-required='true' ng-model="data.username"  ng-required="true"></input>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-required='true' type="password" ng-model="data.password"></input>
          </md-input-container>
          <md-input-container>
            <label>Retype password</label>
            <input ng-required='true' type="password" ng-required="true" ng-class="match_password()" ng-model="data.password_confirmation"></input>
          </md-input-container>
                 
          <md-input-container>
            <label>Email</label>
            <input ng-required='true' ng-model="data.email"  ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"></input>
          </md-input-container>
          <md-input-container>
            <label>First Name</label>
            <input ng-required='true' ng-model="data.firstname"  ng-required="true" ></input>
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-required='true' ng-model="data.lastname"  ng-required="true" ></input>
          </md-input-container>
        </div>
        <p ng-repeat  = "err in errors">
          <small class='error'>{{err}}<br/></small>
        </p>
        <div  class="md-actions" layout="row" layout-align="end center">
          <button type="button" class="md-button" ng-click="cancel()" >
            Cancel
          </button>
          <button type="button" class="md-raised md-primary" ng-click="signup()" ng-disabled="!signupForm.$valid">
            {{labels.action}}
          </button>

        </div>
      <form>
    </md-card-content>
  </md-card>
</div>