<div class="page">
  <div>
    <video preload="auto" autoplay loop="loop" id="pretzel-video" class="video-playing">
      <source src="https://a0.muscache.com/airbnb/static/Seoul-P1-2.mp4" type="video/mp4">
      <source src="https://a0.muscache.com/airbnb/static/Seoul-P1-2.webm" type="video/webm">
    </video>
  </div>
  <div class ="page-content" layout="column" layout-align="center center">
      <h1 class="text-branding text-jumbo text-contrast space-1">welcome home!</h1>
      <div class="h4 text-contrast weight space-4">
              Well planned, never miss a plan or get double booked again.
      </div>
    
      <md-button class="borderd-button" ui-sref="signup" >Get Started!</md-button>
  <div>
</div>
