<div class="page  " layout ='column' layout-align="center center">

  <md-card  class="card-middle">
    <md-card-content >
      <p class="message">
        {{message}}
      </p>
      <h2 class="md-title">Expense Editor</h2>
      <form name   = "editExpenseForm">
        <md-input-container>
          <label>Description</label>
          <input ng-required='true'  googleplace="" ng-model="edit_expense.destination">
        </md-input-container>
        <md-input-container>
          <label class="lift-up">Date</label>
          <datepicker date-format="yyyy-MM-dd"> 
            <input ng-model="edit_expense.startDate" md-placeholder="Date" ng-change="onStartDateChanged()" ng-required='true' ></input>
          </datepicker>
        </md-input-container>
        <md-input-container>
          <label >Time</label>
          <input  ng-model="edit_expense.endDate" md-placeholder="End Date" type="time" ng-required='true'></input>
 
        </md-input-container>
        <md-input-container>
          <label >Amount</label>
          <input ng-model="edit_expense.amount" md-placeholder="Amount" type="number" ng-required='true' ></input>

        </md-input-container>
        <md-input-container flex="">
          <label>Comment</label>
          <textarea ng-model="edit_expense.comment" columns="1" md-maxlength="150"></textarea>
           <small class ="error lift-up "ng-show="edit_expense.endDate < edit_expense.startDate" class='error'> Start date cannot be later than end date.</small>
        </md-input-container>
        <p ng-repeat  = "err in errors">
          <small class='error'>{{err}}</small>       
        </p>   
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-button"  ui-sref="expenses.list" >Cancel</md-button>
          <md-button class="md-raised md-primary"  ng-click="save()" ng-disabled="!editExpenseForm.$valid || (edit_expense.endDate < edit_expense.startDate)">Save</md-button>
          
        </div>

      </form>
    </md-card-content >
  </md-card >
</div>