html, body {
    height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
._720kb-datepicker-calendar-body, ._720kb-datepicker-calendar-days-header, ._720kb-datepicker-calendar-header, ._720kb-datepicker-calendar-years-pagination-pages, .datepicker, [datepicker], datepicker {
    position: static;

}

._720kb-datepicker-calendar._720kb-datepicker-open {
    width: 220px;
}

video#pretzel-video { 
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover; 
}

.page-content {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    color: white;
}
md-toolbar.header-fixed {
    position: fixed;

}
md-toolbar.background-transparent {
        background-color: rgba(225,225,225, 0.1);
}
.space-1 {
    margin-bottom: 6.25px;
}

.space-4 {
    margin-bottom: 25px;
}

.text-contrast {
    color: #fff;
}

.text-branding {
    text-transform: uppercase;
}

.text-jumbo {
    font-size: 60px;
    font-weight: 700;
}

.weight {
    font-size: 18px;
    font-weight: bold;
}

.borderd-button {
    border: solid 2px white;
    padding : 5px 35px;
}

.card-middle {
    min-width: 420px;
    padding:10px;
}

.page {
    height: 100%;
}
.with-header {
    padding-top: 62px;
}
.background-gray {
    background-color: rgba(215,215,215,0.5);
}
.background-dark {
    background-color: rgba(8,8,8,0.5);
}
.message {
    color: green;
}
.error {
    color: red;
}

.list-layout {
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    padding: 20px;
    background: white;
    padding: 10px 20px;
}
.list-layout li.first-of-type;{
    padding: 10px 20px !important;
    border-top: solid 1px lightgray;
    border-bottom: none;
}
.list-item {
    border-top: 0;
    padding: 10px 20px !important;
    border-bottom: solid 1px lightgray;
    font-weight: 400;
}

.list-item .menu-acition-button {
    display: none;
}
.list-item:hover .menu-acition-button {
    display: block;
}

.list-header {
    color: darkgray;
    border-bottom: solid 1px lightgray;
    font-size: 80% !important;
}

.comment {
    font-size: 85%;
    color: darkgray;
}

.filter {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.filter md-select {
    margin: auto;
}

.trip-title {
    font-weight: bold;
    font-size: 120%;
}

datepicker input {
    border: none;
    border-bottom: solid 1px lightgray;
    padding-bottom: 3px;
}

md-input-container .lift-up {
    top: -50px;
    
}
.filter-box  {
    margin-right:20px;
}
.filter-box md-input-container {
    padding-bottom: 0;
    margin-right:5px;
}

.push-down {
    padding-top: 21px;
}
.print-only {
    display: none;
}
@media print {
    .filter, .actions, md-toolbar
    {    
     display: none !important;
    }
    
    .trip-content {
        max-width: 100% !important;
            width: 100% !important;
            flex: 100 !important;
    }
    
   .printable, .print-only
    {
     display: block !important;
    }
}