

<div class="filter" layout="row">
  <md-button flex =5 class="md-button" ui-sref="trips.new_trip" href="">
     <ng-md-icon icon="add_circle_outline" style="fill: green" size="52"></ng-md-icon> 
  </md-button>
  <span flex></span>
  <h2 class="" layout-align="end">All Trips ({{trips.length}})</h2>
</div>
  <ul class="list-layout" >
 
       <li class = "list-header" >
          
          <div class = "" layout="column" flex=80>
            <div layout="row">
               <a flex =5 ng-click="order('getDays()')" >
                   <ng-md-icon icon="schedule" style="fill: darkblue" ></ng-md-icon> 
               </a>
               <a flex =35 ng-click="order('destination')" >
                 Destination
               </a>
               <a flex ="15 " ng-click="order('startDate')" >
                  Start Date
               </a>
               <a flex ="25 " ng-click="order('endDate')" >
                  End Date
               </a>
            </div >
 
          </div>
        </li>
       <li class = "list-item"  ng-repeat=" item in  trips | orderBy:predicate:reverse" layout="row">

         <div layout="column" flex=80>
           <div layout="row">
              <div flex =5>
                 <span ng-hide = "item.getDays() < 0" class="md-fab" >{{item.getDays() | number:0}}</span>
              </div>
              <div flex =35>
                <span class="trip-title">{{item.destination}}</span>
              </div>
              <div flex ="15 ">
                 {{item.startDate | date:'MMM d, y'}}
              </div>
              <div flex ="25 ">
                 {{item.endDate | date:'MMM d, y'}}
              </div>
           </div >
           <div layout='row'>
             <div flex=5></div>
            <p class='comment'>{{item.comment}} </p>
           </div>
        </div>
        <div flex=20>
              <md-button ng-click="delete($index)" class="menu-acition-button">
                <ng-md-icon icon="remove_circle_outline" style="fill: red" ></ng-md-icon> 
              </md-button>
              <md-button ng-click="edit($index)" class="menu-acition-button">
                <ng-md-icon icon="edit" style="fill: green" ></ng-md-icon> 
              </md-button>

         </div>
      </li >

      

  </ul>
  
