

<div class="filter" layout="row">
  <md-button flex =5 class="md-button" ui-sref="trips.new_trip" href="">
     <ng-md-icon icon="add_circle_outline" style="fill: green" size="36"></ng-md-icon> 
  </md-button>
  <md-button flex =5 class="md-button" ng-click="print.open()" href="">
     <ng-md-icon icon="print" style="fill: green" size="36"></ng-md-icon> 
  </md-button>
  <span flex></span>

  <div ng-show="filter_by == 'custom'" class ="filter-box" layout="flow">
    <md-input-container>
      <label class="">Description</label>
      <input ng-model="custom_filter.destination"></input>
    </md-input-container>
    <md-input-container class="push-down">
      <label class="lift-up">Date</label>
      <datepicker date-format="yyyy-MM-dd"> 
        <input  ng-model="custom_filter.startDate" md-placeholder="From" ></input>
      </datepicker>
    </md-input-container>
    <md-input-container  class="push-down">
      <label class="lift-up">Time</label>
      <datepicker date-format="yyyy-MM-dd"> 
        <input  ng-model="custom_filter.endDate" md-placeholder="To" ></input>
      </datepicker>
    </md-input-container>
  </div>
  <md-select ng-model="filter_by">
      <md-option ng-repeat="filter in filters" value="{{filter.value}}">{{filter.name}}</md-option>
  </md-select>

  
</div>
  <div class="print-only" layout="column" layout-align="center center">
    <h2 > Your travel plan <small>( {{print.description}} )</small></h2>
    
  </div>
  <ul class="list-layout printable" >
 
       <li class = "list-header" >
          
          <div class="trip-content" layout="column" flex=80>
            <div layout="row" class="md-toolbar-tools">
               <a flex =10 ng-click="order('getDays()')" href="" >
                   <ng-md-icon icon="schedule" style="fill: darkblue" ></ng-md-icon> 
               </a>
               <a flex =35 ng-click="order('destination')"  href="">
                 Description
               </a>
               <a flex ="15 " ng-click="order('startDate')"  href="">
                  Date
               </a>
               <a flex ="20 " ng-click="order('endDate')"  href="">
                  Time
               </a>
               <a flex ="10 " ng-click="order('amount')"  href="">
                  Amount
               </a>
            </div >
 
          </div>
        </li>
       <li class = "list-item"  ng-repeat=" item in  trips | filter: filter_trips | orderBy:predicate:reverse" layout="row">

         <div class="trip-content" layout="column" flex=80>
           <div layout="row">
              <div flex =10>
                 <span ng-hide = "item.getDays() < 0" class="md-fab" >{{item.getDays() | number:0}}</span>
              </div>
              <div flex =35>
                <span class="trip-title">{{item.destination}}</span>
              </div>
              <div flex ="15 ">
                 {{item.startDate | date:'MMM d, y'}}
              </div>
              <div flex ="20 ">
                 {{item.endDate | date: "HH:MM a"}}
              </div>
              <div flex ="20 ">
                 {{item.amount | currency : symbol : fractionSize}}
              </div>
           </div >
           <div layout='row'>
             <div flex=10></div>
            <p class='comment'>{{item.comment}} </p>
           </div>
        </div>
        <div class ="actions" flex=20>
              <md-button ng-click="delete($index)" class="menu-acition-button">
                <ng-md-icon icon="remove_circle_outline" style="fill: red" ></ng-md-icon> 
              </md-button>
              <md-button ng-click="edit($index)" class="menu-acition-button">
                <ng-md-icon icon="edit" style="fill: green" ></ng-md-icon> 
              </md-button>

         </div>
      </li >

      

  </ul>
  
